@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 480px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo i{
    font-size: 24px;
}

.nav-library{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i,p{
    color: #b7b3b6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist, .nav-podcast{
    background-color: #242424;
    padding: 30px;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-footer{
    margin-top: auto;
}

.nav-playlist button, .nav-podcast button{
    background-color: #FFF;
    color: #000;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 12px;
}

.nav-playlist button:hover, .nav-podcast button:hover{
    transition: 0.4s;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-footer a{
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-language-button{
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 16px;
    border-radius: 20px;
}

main{
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #181818;
}

header{
    display: flex;
    justify-content: space-between;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input{
    background-color: transparent;
    border: none;
    color: #FFF;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.submit{
    background-color: transparent;
    border: none;
    color: #b8b8b8;
    margin-right: 20px;
}

.submit:hover{
    transition: 0.3s;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
}

.login{
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
}

.login:hover{
    transition: 0.4s;
    padding: 10px 20px;
    cursor: pointer;
}

.artists-grid button, .album-card button{
    border: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    background-color: #1b9c48;
    font-size: 20px;
    box-shadow: 5px 5px 30px #000;
    cursor: pointer;
    float: right;
    margin-top: 140px;
    margin-left: -40px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.album-card:hover button, .artist-card:hover button{
    opacity: 1;
    pointer-events: auto;
}

.artists-grid, .albums-grid{
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;
}

.album-card, .artist-card{
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.album-card:hover, .artist-card:hover {
    transition: 0.4s;
    background-color: #282828;
}

.album-card img, .artist-card img{
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;
    box-shadow: 10px 10px 40px #000;
}

.artist-card h3, .album-card h3{
    font-size: 12px;
}

.artist-card p, .album-card p{
    font-size: 10px;
    color: #b7b3b6;
}

.content{
    margin-top: 40px;
}

.content h2{
    margin-bottom: 20px;
}

.banner{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #AF2896, #509BF5);
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
}

.banner h2{
    font-size: 14px;
}

.banner p{
    font-size: 10px;
    color: #FFF;
}

.banner button{
    border-radius: 30px;
    color: #000;
    border: none;
    padding: 9px 20px;
    font-weight: 400;
    cursor: pointer;
}